.git/
.phcode.json
.prettierignore
Debug/
\[FTM\] Hogwarts/data/
\[CP\] Hogwarts/config.json
\[CP\] Hogwarts/assets/Maps/bathhouse_tiles.png
\[CP\] Hogwarts/assets/Maps/boatTunnelTiles.png
\[CP\] Hogwarts/assets/Maps/bugLandTiles.png
\[CP\] Hogwarts/assets/Maps/busPeople.png
\[CP\] Hogwarts/assets/Maps/CarolineGreenhouseTiles.png
\[CP\] Hogwarts/assets/Maps/CarolineGreenhouseTiles_rainy.png
\[CP\] Hogwarts/assets/Maps/cave.png
\[CP\] Hogwarts/assets/Maps/cavedarker.png
\[CP\] Hogwarts/assets/Maps/characterSheet.png
\[CP\] Hogwarts/assets/Maps/coopTiles.png
\[CP\] Hogwarts/assets/Maps/darkroom_tiles.png
\[CP\] Hogwarts/assets/Maps/desert_festival_tilesheet.png
\[CP\] Hogwarts/assets/Maps/desert_festival_tilesheet_text.png
\[CP\] Hogwarts/assets/Maps/desert_festival_tilesheet_text_international.png
\[CP\] Hogwarts/assets/Maps/DesertTiles.png
\[CP\] Hogwarts/assets/Maps/DesertTiles_Extended.png
\[CP\] Hogwarts/assets/Maps/ElliottHouseTiles.png
\[CP\] Hogwarts/assets/Maps/ElliottSeaTiles.png
\[CP\] Hogwarts/assets/Maps/EmilyDreamscapeTiles.png
\[CP\] Hogwarts/assets/Maps/fall_beach.png
\[CP\] Hogwarts/assets/Maps/fall_island_tilesheet_1.png
\[CP\] Hogwarts/assets/Maps/fall_monsterGraveTiles.png
\[CP\] Hogwarts/assets/Maps/fall_outdoorsTileSheet.png
\[CP\] Hogwarts/assets/Maps/fall_outdoorsTileSheet2.png
\[CP\] Hogwarts/assets/Maps/fall_outdoorTileSheet_extra.png
\[CP\] Hogwarts/assets/Maps/fall_Shadows.png
\[CP\] Hogwarts/assets/Maps/fall_town.png
\[CP\] Hogwarts/assets/Maps/fall_Waterfalls.png
\[CP\] Hogwarts/assets/Maps/Farm Obelisk.png
\[CP\] Hogwarts/assets/Maps/farmhouse_tiles.png
\[CP\] Hogwarts/assets/Maps/FarmhouseTiles.png
\[CP\] Hogwarts/assets/Maps/Festivals.png
\[CP\] Hogwarts/assets/Maps/FishingDerbyTiles.png
\[CP\] Hogwarts/assets/Maps/FishingDerbyTiles_international.png
\[CP\] Hogwarts/assets/Maps/floors_2.png
\[CP\] Hogwarts/assets/Maps/GreenHouseInterior.png
\[CP\] Hogwarts/assets/Maps/HarveyBalloonTiles.png
\[CP\] Hogwarts/assets/Maps/WoodBuildings.png
\[CP\] Hogwarts/assets/Maps/WizardHouseTiles.png
\[CP\] Hogwarts/assets/Maps/witchSwampTiles.png
\[CP\] Hogwarts/assets/Maps/WitchHutTiles.png
\[CP\] Hogwarts/assets/Maps/winter_Waterfalls.png
\[CP\] Hogwarts/assets/Maps/winter_town.png
\[CP\] Hogwarts/assets/Maps/winter_Shadows.png
\[CP\] Hogwarts/assets/Maps/winter_outdoorTileSheet_extra.png
\[CP\] Hogwarts/assets/Maps/winter_outdoorsTileSheet2.png
\[CP\] Hogwarts/assets/Maps/winter_outdoorsTileSheet.png
\[CP\] Hogwarts/assets/Maps/winter_monsterGraveTiles.png
\[CP\] Hogwarts/assets/Maps/winter_island_tilesheet_1.png
\[CP\] Hogwarts/assets/Maps/winter_beach.png
\[CP\] Hogwarts/assets/Maps/wallpapers_2.png
\[CP\] Hogwarts/assets/Maps/townInterior_2.png
\[CP\] Hogwarts/assets/Maps/townInterior.png
\[CP\] Hogwarts/assets/Maps/TownIndoors.png
\[CP\] Hogwarts/assets/Maps/summer_Waterfalls.png
\[CP\] Hogwarts/assets/Maps/summer_town.png
\[CP\] Hogwarts/assets/Maps/summer_Shadows.png
\[CP\] Hogwarts/assets/Maps/summer_outdoorTileSheet_extra.png
\[CP\] Hogwarts/assets/Maps/summer_outdoorsTileSheet2.png
\[CP\] Hogwarts/assets/Maps/summer_outdoorsTileSheet.png
\[CP\] Hogwarts/assets/Maps/summer_monsterGraveTiles.png
\[CP\] Hogwarts/assets/Maps/summer_island_tilesheet_1.png
\[CP\] Hogwarts/assets/Maps/summer_beach.png
\[CP\] Hogwarts/assets/Maps/submarine_tilesheet.png
\[CP\] Hogwarts/assets/Maps/stadium_tiles.png
\[CP\] Hogwarts/assets/Maps/springobjects.png
\[CP\] Hogwarts/assets/Maps/spring_Waterfalls.png
\[CP\] Hogwarts/assets/Maps/spring_town.png
\[CP\] Hogwarts/assets/Maps/spring_Shadows.png
\[CP\] Hogwarts/assets/Maps/spring_outdoorTileSheet_extra.png
\[CP\] Hogwarts/assets/Maps/spring_outdoorsTileSheet2.png
\[CP\] Hogwarts/assets/Maps/spring_outdoorsTileSheet.png
\[CP\] Hogwarts/assets/Maps/spring_monsterGraveTiles.png
\[CP\] Hogwarts/assets/Maps/spring_island_tilesheet_1.png
\[CP\] Hogwarts/assets/Maps/spring_BusStop.png
\[CP\] Hogwarts/assets/Maps/spring_beach.png
\[CP\] Hogwarts/assets/Maps/SewerTiles.png
\[CP\] Hogwarts/assets/Maps/sebastianRideTiles.png
\[CP\] Hogwarts/assets/Maps/sebastianMountainTiles.png
\[CP\] Hogwarts/assets/Maps/samshowtiles.png
\[CP\] Hogwarts/assets/Maps/qiNutRoom_tilesheet.png
\[CP\] Hogwarts/assets/Maps/pirates_tilesheet.png
\[CP\] Hogwarts/assets/Maps/paths.png
\[CP\] Hogwarts/assets/Maps/nightSceneMaruTrees.png
\[CP\] Hogwarts/assets/Maps/nightSceneMaru.png
\[CP\] Hogwarts/assets/Maps/night_market_tilesheet_objects.png
\[CP\] Hogwarts/assets/Maps/MovieTheaterScreen_TileSheet.png
\[CP\] Hogwarts/assets/Maps/MovieTheaterJoja_TileSheet_international.png
\[CP\] Hogwarts/assets/Maps/MovieTheaterJoja_TileSheet.png
\[CP\] Hogwarts/assets/Maps/MovieTheater_TileSheet.png
\[CP\] Hogwarts/assets/Maps/mermaid_house_tiles.png
\[CP\] Hogwarts/assets/Maps/MenuTilesUncolored.png
\[CP\] Hogwarts/assets/Maps/MenuTiles.png
\[CP\] Hogwarts/assets/Maps/masteryCaveTilesheet.png
\[CP\] Hogwarts/assets/Maps/LeoTreeHouse_Tilesheet.png
\[CP\] Hogwarts/assets/Maps/JojaRuins_TileSheet.png
\[CP\] Hogwarts/assets/Maps/island_tilesheet_2.png
\[CP\] Hogwarts/assets/Maps/island_tilesheet_1.png
\[CP\] Hogwarts/assets/Maps/Island_Hut_tilesheet.png
\[CP\] Hogwarts/assets/Maps/Island_FieldOffice_Tilesheet.png
